<div class="services-blocks">
  <div class="services-block">
    {{ with site.GetPage "section" "ai-applications" }}
    <div class="services-image-bkg" style="background-image:url(../../img/cell_tracking.webp);">
      <a href="{{ .RelPermalink }}">
    <div class="services-title">
      {{ .Title }}
    </div>
  </a>
    <!-- <div class="services-links">
      <ul>
        {{ range (site.GetPage "services/ai-applications").Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div> -->
    </div>
    {{ end }}
    </div>
    <div class="services-block">
      {{ with site.GetPage "section" "consulting-services" }}
      <div class="services-image-bkg" style="background-image:url(../../img/consulting.webp);">
        <a href="{{ .RelPermalink }}">
    <div class="services-title">
      {{ .Title }}
    </div>
  </a>
    <!-- <div class="services-links">
      <ul>
        {{ range (site.GetPage "services/consulting-services").Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div> -->
  </div>
  {{ end }}
  </div>
</div>