<div class="services-blocks">
  <div class="services-bigtext">{{ .Page.Params.offer }}</div>
  <div class="services-block">
    <div class="services-title headline1">
      {{ with .Site.GetPage "section" "ai-applications" }}
      <a href ="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </div>
    
    <div class="services-links content1">
      <ul>
        {{ range (site.GetPage "services/ai-applications").Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="services-title headline2">
      {{ with .Site.GetPage "section" "consulting-services" }}
      <a href ="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </div>

      
      
    <div class="services-links content2">
      <ul>
        {{ range (site.GetPage "services/consulting-services").Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    
  </div>
</div>