{{ define "bigText" }}
{{ .Page.Params.bigtext }}
{{ end }}
{{ define "services" }}
<div class="services-page">
  {{ with site.GetPage "services/ai-applications" }}
  <div class="services-section">
    <div class="services-content">
      <div class="services-copy">
        <a href="{{ .Permalink }}">
          <h2>{{ .Title }}</h2>
        </a>
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}">
          <h4>More ></h4>
        </a>
      </div>
    </div>
    <div class="services-image"><img src="../../img/cell_tracking.gif"></div>
  </div>
  {{ end }}
  {{ with site.GetPage "services/consulting-services" }}
  <div class="services-section">
    <div class="services-image"><img src="../../img/promo2.gif"></div>
    <div class="services-content">
      <div class="services-copy">
        <a href="{{ .Permalink }}">
          <h2>{{ .Title }}</h2>
        </a>
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}">
          <h4>More ></h4>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}