{{ define "bigText" }}
{{ end }}
{{ define "main" }}
<main>
  <div class="main-column">
    <nav id="services-navigation" class="main-navigation">
      <button class="menu-toggle" aria-controls="sub-menu" aria-expanded="false">Main Menu</button>
        <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
          {{ if eq $.Site.Language.LanguageName "Deutsch" }}
            Direkt zu:
          {{ else }}
            Jump to:
          {{ end }}
          {{ range .Site.Menus.services }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}{{ .Pre }}</a></li>
          {{ end }}
        </ul>

</nav>
    <div class="services-intro">
      {{ .Content }}
    </div>
    <!--<h1>{{ .Title }}</h1>-->
    <div class="services-list">
      {{ range (where .Data.Pages "Section" "!=" "") }}
      <div class="services-item">
        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
        <div><p>{{ .Summary }}</p></div>
        <a href="{{ .Permalink }}"><h4>More ></h4></a>
      </div>
      {{ end }}
    </div>
    </div>
    </main>
    {{ end }}