
{{ define "bigText" }}
<div class="banner-video" style="background:center / cover no-repeat url(../../../img/computer_vision.webp);"></div>
{{ end }}
{{ define "main" }}
<main>
  <div class="main-column">
    <h1>{{ .Title }}</h1>
    
    <div class="services-list">
      {{ range (where .Data.Pages "Section" "!=" "") }}
      <div class="services-item">
        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
        <div><p>{{ .Summary }}</p></div>
        <a href="{{ .Permalink }}"><h4>More ></h4></a>
      </div>
      {{ end }}
    </div>

    <div class="services-intro">
      {{ .Content }}
    </div>
    
    </div>
    </main>
    {{ end }}