/*! Blair2022 Styles */
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
	/* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll;
	/* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%;
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box;
	/* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
.accessibility-link {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	width: 1px;
}

.accessibility-link:focus {
	clip: rect(auto, auto, auto, auto);
	outline-offset: -3px;
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted;
	position: static;
	text-decoration: underline;
}

/*--------------------------------------------------------------
Type
--------------------------------------------------------------*/
p {
	font-size: 1.8rem;
	margin-bottom: 2.2rem;
	font-family: 'Tahoma';
	font-weight: 100;
}

h1, h2, h3, h4 {
	font-family: 'Tahoma';
	margin-bottom: 3.6rem;
}

h1 {
	font-size: 3.6rem;
	color: #e39f0d;
}

h2 {
	font-size: 2.4rem;
	color: slategray;
}

h3 {
	font-size: 2rem;
	color: slategray;
}

h4 {
	font-size: 1.6rem;
}

ol {
	list-style: decimal;
	margin-left: 2rem;
}

ol li {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	font-family: 'Tahoma';
	font-weight: 100;
}

ol li::marker {
	font-size: 1.6rem;
	color: #bbbbbb;
}

/*--------------------------------------------------------------
Structure
--------------------------------------------------------------*/
header {
	position: relative;
	display: flex;
	padding: 3rem;
	background-color: white;
	align-items: center;
}

.branding {
	margin: 0;
}

.branding img {
	width: 100%;
}

.logo {
	display: block;
	width: 100px;
}

#stage {
	display: block;
	position: fixed;
	z-index: -9999;
	top: 0;
	left: 0;
	max-width: 100%;
	background-color: #18283c;
}

.big-text {
	width: 100%;
	font-size: 8vw;
	line-height: 7vw;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 100;
	color: white;
	padding: 10rem 20rem;
	text-align: center;
	background-color: transparent;
}

.big-text img {
	width: 30%;
}

.text-gold {
	color: white;
}

.pull-quote {
	position: relative;
	float: right;
	width: 80%;
	margin-right: -40%;
	padding: 6rem;
	font-size: 4rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #e39f0d;
}

.content {
	position: relative;
	display: block;
	background-image: linear-gradient(350deg, #e39f0d 0%, #efb44e 12%, #f6c479 17%, #fcd7a6 23%, #feead2 37%, #fcfcfc 70%, white 90%);
}

main {
	position: relative;
	max-width: 72rem;
	padding: 10rem 2rem;
	margin: 0 auto;
}

.services-blocks {
	background-color: #18283c;
	display: flex;
	justify-content: flex-end;
}

.services-block {
	display: flex;
	width: 50%;
	padding: 4rem;
}

.services-title {
	width: 49%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	line-height: 3vw;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 100;
	color: white;
}

.services-links {
	width: 49%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	padding: 1rem 5rem 4rem;
}

.services-links ul {
	list-style-type: disc;
	color: white;
	font-size: 3rem;
}

.services-links ul a {
	color: #e39f0d;
}

.services-links ul a:hover {
	color: white;
}

.gold-block {
	background-color: #e39f0d;
}

.gold-block .services-links ul a {
	color: white;
}

.gold-block .services-links ul a:hover {
	color: #18283c;
}

.slant {
	border: 1px black solid;
	transform: rotateZ(-4deg);
	margin-bottom: 5rem;
}

.ciataMark {
	padding: 0;
	margin: 2rem 0 2rem -6rem;
	width: 30%;
}

.ciataMark img {
	width: 100%;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-item {
	width: 45%;
	flex: 0 0 auto;
}

footer {
	max-width: 65rem;
	padding: 4rem;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.branding {
		display: flex;
		left: 0;
		max-width: 100%;
		width: 100%;
		justify-content: center;
		margin-bottom: 2rem;
	}
	header {
		display: block;
	}
	.big-text {
		padding: 7rem;
	}
	main {
		position: relative;
		max-width: 65rem;
		padding: 4rem;
		margin: 0 auto;
	}
	.services-list {
		display: block;
	}
	.services-item {
		width: 100%;
	}
	.services-block,
	.services-blocks {
		display: block;
	}
	.services-blurb,
	.services-links,
	.services-title {
		width: 100%;
	}
}

/*--------------------------------------------------------------
Nav
--------------------------------------------------------------*/
a,
a:visited {
	color: darkorange;
	text-decoration: none;
}

a:hover {
	color: navy;
}

h2 a,
h2 a:visited {
	color: grey;
}

h2 a:hover {
	color: orange;
}

.main-navigation {
	display: block;
}

.main-navigation ul {
	display: none;
	padding: 2rem 0;
	margin: 0;
	list-style: none;
}

.main-navigation ul li {
	padding: 0 2rem;
	width: 100%;
	text-align: center;
}

.main-navigation ul li a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	font-size: 1.4rem;
	letter-spacing: 1px;
	text-decoration: none;
	color: black;
}

.main-navigation ul li a:hover {
	color: slategray;
}

.main-navigation ul li a:focus {
	color: tomato;
}

/* Small menu. */
.main-navigation button {
	border-radius: none;
	width: 100%;
	border: none;
	padding: 1rem;
	background-color: white;
	color: slategray;
	font-family: sans-serif;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
}

.main-navigation button:hover {
	color: orange;
	background-color: white;
	transition: background-color 2s;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		padding-top: 1rem;
	}
	.main-navigation ul {
		display: flex;
	}
	.main-navigation ul li {
		padding-right: 1rem;
		width: auto;
	}
}

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Special
--------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */