<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="stage"></div>
        <div class="big-text">{{- block "bigText" . }}{{- end }}</div>
        <div class="content">
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
        <script type="text/javascript" src="{{ "/js/navigation.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/bundle.js" | relURL }}"></script>
        </body>
        </html>
