<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="stage"></div>
        {{- block "bigText" . }}{{- end }}
        {{- block "services" . }}{{- end }}
        <div class="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <script type="text/javascript" src="{{ "/js/navigation.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/bundle.js" | relURL }}"></script>
        </body>
        </html>
