<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="stage"></div>
        <!--<div class="big-text text-gold"><img src="img/ciataLogoWhite.webp"><br/>is the<br/>solution</div>-->
        <div class="banner">
          <div class="banner-container">
          <div class="big-text text-gold">{{ .Page.Params.bigtext }}</div>
          <div class="banner-blurb">
            {{ .Page.Params.blurb }}
          </div>
        </div>
        </div>
        <div class="content">
        <main>
          <div class="main-column">
          {{ .Content }}
        </div>
        <div class="main-column">
          <div class="services-page">

            {{ with site.GetPage "services/ai-applications" }}
            <div class="services-section">
              <div class="services-image-bkg" style="background-image:url(../../img/cell_tracking.webp);">
                  
              </div>
            </div>
            {{ end }}

           </div>
         </div>
        </main>
        {{- partial "services.html" . -}}
        </div>
        <div>
          <a class="email-button" href="{{ relref . "contact" }}" class="email-button">CONTACT US</a>
        </div>
        {{- partial "footer.html" . -}}
        <script type="text/javascript" src="{{ "/js/navigation.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/bundle.js" | relURL }}"></script>
        </body>
        </html>