<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="stage"></div>
        <!--<div class="big-text text-gold"><img src="img/ciataLogoWhite.webp"><br/>is the<br/>solution</div>-->
        <div class="banner">
          <div class="banner-container">
          <div class="big-text text-gold">{{ .Page.Params.bigtext }}</div>
          <div class="banner-blurb">
            CIATA is a team of machine learning professionals who are passionate about helping businesses grow.
          </div>
        </div>
        </div>
        <div class="content">
        <main>
          <div class="main-column">
          {{ .Content }}
        </div>
        <div class="main-column">
        <div class="placeholder"></div>
         </div>
        </main>
        {{- partial "services.html" . -}}
        </div>
        <div>
          <a class="email-button" href="mailto:{{ .Site.Params.email }}" class="email-button">CONTACT US</a>
        </div>
        {{- partial "footer.html" . -}}
        <script type="text/javascript" src="{{ "/js/navigation.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/bundle.js" | relURL }}"></script>
        </body>
        </html>