body {
    // height: 100%;
    // min-height: 100vh;
}

header {
    position: relative;
    display: flex;
    padding: 3rem;
    //min-height: 100px;
    background-color: white;
    align-items: center;
}

.branding {
    // position:relative;
    // z-index: 9999;
    // top: 5rem;
    // left:100px;
    margin: 0;

    img {
        width: 100%;
    }
}

.logo {
    display: block;
    width: 100px;
}

#stage {
    display: block;
    position: fixed;
    z-index: -9999;
    top: 0;
    left: 0;
    max-width: 100%;
    background-color: $ciata__dark-blue;
}

.big-text {
    width: 100%;
    font-size: 9vw;
    line-height: 10vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: white;
    padding: 10rem 20rem;
    text-align: center;
    background-color: transparent;

    img {
        width: 30%;
    }
}

.text-gold {
    color: white;
}

.pull-quote {
    position: relative;
    float: right;
    width: 80%;
    margin-right: -40%;
    padding: 6rem;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: $ciata__gold;
}

.content {
    position: relative;
    display: block;
    background-image: linear-gradient(350deg,
            hsl(41deg, 89%, 47%) 0%,
            hsl(38deg, 83%, 62%) 12%,
            hsl(36deg, 88%, 72%) 17%,
            hsl(34deg, 94%, 82%) 23%,
            hsl(33deg, 97%, 91%) 37%,
            hsl(0deg, 0%, 99%) 70%,
            hsl(0deg, 0%, 100%) 90%);
}

main {
    position: relative;
    max-width: 72rem;
    padding: 10rem 2rem;
    margin: 0 auto;
}

.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the content */
    width: 100%;
    background-color: white;
}

.services-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* Maintains original spacing */
    margin: 3em auto;
    /* Centers the section */

}

.services-content {
    width: 25%;
    flex: 0 0 auto;
    display: flex;
    padding: 3rem;
    align-content: center;
    justify-content: center;
}

.services-copy {
    width: 80%;
}

.services-image {
    width: 75%;
    //flex: 0 0 auto;
    //background-color: slategray;
    min-height: 200px;
    flex: 1;
    height: 300px;
    /* Fixed height */
    overflow: hidden;

    border-radius: 15px;
    /* Adjust this value to achieve the desired roundness */
    border: 1px solid #959ea1;
    /* Example: 3px solid black border */

    /* Prevents overflow outside the container */
    img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }
}

.services-blocks {
    //background: no-repeat url("/img/corner-br.png") bottom right;
    background-color: $ciata__dark-blue;
    display: flex;
    justify-content: flex-end;
}

.services-block {
    display: flex;
    width: 100%;
    padding: 4rem;
}

.services-title {
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    line-height: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: white;
    text-align: center;
    padding-right: 3rem;
}

.services-links {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem 5rem 3rem;
    font-size: 3em;

    ul {
        list-style-type: disc;
        color: white;
        font-size: 3rem;

        a {
            color: $ciata__gold;
        }

        a:hover {
            color: white;
        }
    }
}

.gold-block {
    //background: no-repeat url("/img/corner-tl.png") top left;
    background-color: hsl(41deg, 89%, 47%);

    .services-links {
        ul {
            a {
                color: white;
            }

            a:hover {
                color: $ciata__dark-blue;
            }
        }
    }
}

.slant {
    border: 1px black solid;
    transform: rotateZ(-4deg);
    margin-bottom: 5rem;
}

.ciataMark {
    padding: 0;
    margin: 2rem 0 2rem -6rem;
    width: 30%;

    img {
        width: 100%;
    }
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-item {
    width: 45%;
    flex: 0 0 auto;
}

.email-button {
    display: flex;
    justify-content: center;
    width: 12em;
    padding: 2rem;
    margin: 1em auto;
    font-size: 3rem;
    text-align: center;
    background-color: $ciata__gold;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    &:hover {
        background-color: #fcc03d;
        color: $ciata__dark-blue;
    }
}

footer {
    width: 100%;
    padding: 4rem 4rem 8rem;
    margin: 0 auto;
    background-color: $ciata__gold;
}

@media screen and (max-width: $ciata__breakpoint) {
    .branding {
        display: flex;
        left: 0;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    }

    header {
        display: block;
    }

    .big-text {
        padding: 7rem;
    }

    main {
        position: relative;
        max-width: 65rem;
        padding: 4rem;
        margin: 0 auto;
    }

    .services-list {
        display: block;
    }

    .services-item {
        width: 100%;
    }

    .services-block,
    .services-blocks {
        display: block;
        width: 100%;
        ;
    }

    .services-blurb,
    .services-links,
    .services-title {
        width: 100%;
    }
}