p {
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
    font-family: 'Tahoma';
    font-weight: 100;

}

h1, h2, h3, h4 {
    font-family: 'Tahoma';
    margin-bottom: 3.6rem;
}

h1 {
    font-size: 3.6rem;
    color: hsl(41deg, 89%, 47%);
}
h2 {
    font-size: 2.4rem;
    color:slategray;
}

ol {
    list-style: decimal;
    margin-left: 2rem;
    li {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        font-family: 'Tahoma';
        font-weight: 100;
    }
    li::marker {
        font-size: 1.6rem;
        color: #bbbbbb;
    }
}

