$font__sans: sans-serif;
$line__height: 2.4rem; 

$ciata__gold:hsl(41deg, 89%, 47%);
$ciata__yellow:hsl(34deg, 94%, 82%);
$ciata__dark-blue:#18283c;
$ciata__light-blue:hsl(192deg, 21%, 100%);
$ciata__grey:slategrey;

$ciata__breakpoint:799px;

$ciata_sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$ciata_serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$ciata_body: Tahoma, sans-serif;